## Settings file was created by plugin PEAKUnlimited v0.1.0
## Plugin GUID: PEAKUnlimited

[General]

## The maximum number of players you want to be able to join your lobby (Including yourself). Warning: untested, higher numbers may be unstable! Range: 1-20
# Setting type: Int32
# Default value: 20
MaxPlayers = 20

## Controls whether additional marshmallows are spawned for the extra players
# Setting type: Boolean
# Default value: true
ExtraMarshmallows = true

## Controls whether additional backpacks have a chance to be spawned for extra players
# Setting type: Boolean
# Default value: true
ExtraBackpacks = false

## Controls whether additional marshmallows are spawned for players who join late (mid run), and removed for those who leave early (Experimental + Untested)
# Setting type: Boolean
# Default value: false
LateJoinMarshmallows = false

## (Cheat, disabled by default) This will set the desired amount of marshmallows to the campfires as a cheat, requires ExtraMarshmallows to be enabled. Capped at 30.
# Setting type: Int32
# Default value: 0
Cheat Marshmallows = 0

## (Cheat, disabled by default) Sets how many backpacks will spawn as a cheat, requires ExtraBackpacks to also be enabled. Capped at 10.
# Setting type: Int32
# Default value: 0
Cheat Backpacks = 0

